.card{
    display: flex;
    width: 100%;
    max-width: 940px;
    min-height: 105px;
}

.avatar {
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: grid;
    align-content: center;
    color: #E1E1FC;
}

.action-info{
    margin-top: 29px;
    margin-bottom: 0;
    color: rgba(225, 225, 252, 0.7);
}

.time{
    margin-top: 0;
    margin-bottom: 27px;
    color: rgba(225, 225, 252, 0.7);
}

.action-info strong{
    color: #ffffff
}