.wrapper {
    width: 100%;
}

.auction-container {
    padding: 30px 61px !important;
}

.label-text {
    padding-left: 10px !important;
}

.dropdown-form {
    width: 100%;
    max-width: 220px;
}

.auction-header {
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.card-container{
    flex-direction: row;
    gap: 10px;
}