@use "../../styles/colors";
$additional-opacity: 0.15;

.container {
    width: 320px;
    height: 30%;
}

.numberContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: rgba(colors.$primary_main, 0.25);
}

.number{
    font-size: 4.5rem;
}

.userContainer{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba( colors.$primary_main, 0.1);
}

.lightUserContainer {
     background-color: rgba(colors.$primary_main, 0.25);
}

.lightNumberContainer {
    background-color: rgba(colors.$primary_main, 0.6);
}