@use "../../styles/colors";

.numberContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 79px;
    min-height: 76px;
    background-color: rgba(colors.$primary_main, 0.25);
}

.text {
    font-size: 20px !important;
    font-weight: 900 !important;
    position: relative;
    left: 10px;
}

.userContainer {
    width: calc(100% - 79px);
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(colors.$primary_main, 0.1);
}

.lightUserContainer {
    background-color: rgba(colors.$primary_main, 0.25);
}

.lightNumberContainer {
    background-color: rgba(colors.$primary_main, 0.6);
}
