@use "../../styles/colors";

.container {
    width: 320px;
    height: 76px;
}

.numberContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    background-color: rgba(colors.$primary_main, 0.25);
}

.number{
    font-size: 4.5rem;
}

.userContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba( colors.$primary_main, 0.1);
    padding-left: 10px;
}

.lightUserContainer {
     background-color: rgba(colors.$primary_main, 0.25);
}

.lightNumberContainer {
    background-color: rgba(colors.$primary_main, 0.6);
}