.divWrapper{
    background-color: rgba(78, 36, 242, 0.05);
}

.select-menu{
    width: 220px;
    div {
        padding-left: 25px;
    }
}

.title-filters-container{
    margin-bottom: 40px;
}

.top-collector-section{
    padding: 110px 0;
}

.sortby-label{
  padding-left: 12px;
}