.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    margin-top: 88px !important;
    margin-bottom: 120px !important;
}
