@use "../../styles/colors";

.hero {
    width: 100%;
    min-height: 362px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: colors.$primary_main;
}

.text {
    margin-bottom: 120px !important;
}
