@use "../../styles/colors";

.card {
    max-width: 339px;
    min-height: 443px;
    width: 100%;
    height: auto;
    border-radius: 15px !important;
}

.liveCard {
    background-color: mix(#181828, colors.$secondary_main, $weight: 85);
}

.media {
    position: relative;
    border-radius: 15px;
    margin: 20px 0px;
    width: 250px;
    height: 285px;
}

.title {
    max-width: 235px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price {
    position: relative;
    top: -5px;
    color: colors.$secondary_main;
}

.likes {
    box-sizing: border-box;
    padding: 15px;
    width: 70px;
    height: 33px;
    border: 2px solid;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: colors.$success_main;
    border-radius: 0 0 15px 15px;
    position: absolute;
    width: inherit;
    top: 85%;
    height: 15%;
    color: black;
    font-weight: 800;
}

.imgContainer {
    position: relative;
}

.badge {
    width: 75px;
    height: 30px;
    font-size: 14px;
    font-weight: 800;
    background: colors.$success_main;
    color: black;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.card-content{
    padding-bottom: 14px !important;
}