.product-info-container {
    width: 100%;
}

.price-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.creator-container {
    display: flex;
    margin-top: 24px;
}

.stats {
    font-weight: bold;
}
