@use "../../styles/colors";

.title{
    font-weight: bold;
    color: rgb(24, 24, 40);
}

.product-info-timer{
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
    opacity: 0.8;
    height: 45px;
}

.timer{
    font-weight: bold;
    color: rgb(24, 24, 40);
    font-size: 2.5rem;
    padding: "3% 10%";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.active {
    background-color: colors.$secondary_main;
}

.card{
    height: 135px;
}