@use "../../styles/colors";

.title-container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 37px;
    padding-left: 27px;
    background-color: #1d193c;
}

.title {
    font-weight: 600;
    font-size: 0.75rem;
}

.product-info-creator {
    width: 100%;
}

.user-container {
    display: flex;
    align-items: center;
    min-height: 81px;
    padding-left: 27px;
    p {
        font-size: 1rem;
    }
}

.card {
    min-height: 118px;
    border-radius: 15px;
}
