.product-info-container {
    width: 100%;
}

.price-container {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.creator-container {
    display: flex;
}

.stats {
    font-weight: bold;
}
