@use "../../styles/colors";

.title {
    font-size: 0.75rem;
    font-weight: 600;
    color: rgb(24, 24, 40);
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    background: colors.$secondary_main;
    width: 100%;
    height: 37px;
}

.timer-container {
    font-weight: bold;
    background: colors.$secondary_main;
    color: rgb(24, 24, 40);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 81px;
}

.card {
    min-height: 118px;
    border-radius: 15px;
}
