.explore-container {
    margin-top: 80px;
    padding: 0 58px !important;
}

.card {
    width: 100%;
    max-width: 339px !important;
}

.cards-container {
    margin-top: 50px;
    column-gap: 20px;
    row-gap: 26px;
}
