.explore-filters {
    width: 100%;
}

.dropdown-form {
    width: 100%;
    max-width: 220px;
}

.input-form {
    width: 100%;
    max-width: 340px;
}

.text-fild {
    div {
        background-color: rgb(24, 24, 40);
    }
}

.search-icon {
    color: #e1e1fc;
}
