.avatar{
    position: relative;
}

.image{
    position: absolute;
    border-radius: 50%;
    width: inherit;
    height: inherit;
}

.badge{
    position: absolute;
    top: 73%;
    right: -8%;
    width: 33%;
}