@use "../../styles/colors";

.card {
    display: flex;
    max-width: 580px;
    min-height: 215px;
}

.numberContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(colors.$primary_main, 10%);

    p{
       font-size: 6.5rem; 
       font-weight: bold;
    }
}

.infoContainer{
    margin: auto;
    display: grid;
    gap: 10px;
    padding: 50px;

    p{
        opacity: 0.7;
    }
}
