@use "../../styles/colors";

.card {
    display: flex;
    max-width: 580px;
    max-height: 215px;
}

.numberContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(colors.$primary_main, 10%);
    width: 100%;
    max-width: 187px;
    max-height: 215px;

    p {
        font-size: 6.5rem;
        font-weight: bold;
    }
}

.infoContainer {
    margin: auto;
    display: grid;
    gap: 10px;
    padding: 50px 55px;
    width: 100%;
    max-width: calc(100% - 187px);
    max-height: 215px;

    p {
        opacity: 0.7;
        line-height: 24px;
    }
}
