@use "../../styles/colors";

.card {
    display: flex;
    width: 320px;
    height: 120px;
}

.numberContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: rgba(colors.$primary_main, 10%);
}

.number{
    font-size: 4.5rem;
}

.infoCotaniner{
    display: flex;
    align-items: center;
    justify-content: center;
}
