.title-filters-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 27px;
}

.select-menu {
    width: 220px;
    div {
        padding-left: 25px;
    }
}

.trending-section-container {
    margin-top: 32px;
    padding: 45px 61px !important;
}

.cards-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
