.title-filters-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 27px;
}

.select-menu{
    width: 220px;
    div {
        padding-left: 25px;
    }
}